/* Site Footer */
.site-footer {
	.top {
		padding: 30px 0;
		background-color: $charcoal;
		color: $white;

		@include mq(medium) {
			padding: 50px 0;
		}

		> .container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}


		.left {
			width: 100%;
			text-align: center;
			max-width: 310px;
			margin: 0 auto;

			.copy {
				opacity: .8;
				font-size: 13px;
			}

			.social {
				img {
					margin-right: 20px;
				}
			}

			@include mq(medium) {
				width: 25%;
				text-align: left;
				margin: 0;

				.copy {
					margin-bottom: 40px;
				}
			}
		}

		.right {
			width: 50%;

			.newsletter {
				margin-bottom: 50px;
				p {
					margin: 0 0 12px;
				}

				.title {
					font-size: 14px;
					font-family: $bold-font;
				}

				.copy {
					font-size: 13px;
					margin-bottom: 20px;
					opacity: .8;
				}

				form {
					width: 83.33%;
					    display: flex;
					input[type=text] {
						flex: 1;
						font-size: 13px;
						padding: 0 16px;
						border: 0;
						border-radius: 3px 0 0 3px;
					}

					input[type=submit]{
						font-size: 13px;
						width: 20%;
						padding: 12px;
						background-color: #00AEF0;
						border: 0 none;
						color: $white;
						border-radius: 0 3px 3px 0;
					}
				}
			}

			.sitemap {
				display: flex;
				> div {
					flex: 1;
				}

				.title {
					font-size: 14px;
					font-family: $bold-font;
					maring-bottom: 12px;
				}

				ul {
					margin-top: 0;
					padding: 0;
					list-style: none;

					a {
						text-decoration: none;
						font-size: 13px;
						color: $white;
						opacity: .8;
					}
				}
			}
		}

	}
	.copyright {
		background-color: $black;
		color: $white;
		text-align: center;
		padding: 30px 0;
		font-size: 11px;

		p {
			opacity: .8;
			margin: 0;
		}

		@include mq(medium) {
			padding: 40px 0;
		}
	}
}