// Media Query
@mixin mq($point) {
  @if map-has-key($breakpoints, $point) {
    @media screen and #{map-get($breakpoints, $point)} {
      @content;
    }
  }
  @else {
    @media screen and #{$point} {
      @content;
    }
  }
}

// Background
@mixin background($image: none, $size: initial, $color: transparent, $position: center, $repeat: no-repeat) {
  background-color: $color;
  @if $image == 'none' {
    background-image: $image;
  } @else {
    background-image: url($image);
  }
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

// Soft Transition
@mixin soft-transition() {
  transition: 0.4s ease all;
}