//Fonts
@font-face {
    font-family: 'aktiv_grotesk_corpbold';
    src: url('~@/assets/fonts/aktivgroteskcorp-bold-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/aktivgroteskcorp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aktiv_grotesk_corplight';
    src: url('~@/assets/fonts/aktivgroteskcorp-light-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/aktivgroteskcorp-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aktiv_grotesk_corpmedium';
    src: url('~@/assets/fonts/aktivgroteskcorp-medium-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/aktivgroteskcorp-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aktiv_grotesk_corpregular';
    src: url('~@/assets/fonts/aktivgroteskcorp-regular-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/aktivgroteskcorp-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('~@/assets/fonts/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('~@/assets/fonts/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}